.action-buttons {
  position: absolute;
  top: 80px;
  right: 8px;
  display: flex;
  flex-direction: column;
  gap: 50px; 
  background-color: #fff; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.action-buttons .fa-icon {
  cursor: pointer;
  transition: transform 0.2s;
}

.action-buttons .fa-icon:hover {
  transform: scale(1.2); /* Slight zoom on hover */
}

.action-buttons:hover {
  background-color: #f0f0f0; /* Optional: Change color on hover */
}
